<%# app/views/pages/team.html.erb #%>

<div class="container mt-5">
  <h1 class="text-center text-success mb-4">👨‍💻 Notre Équipe</h1>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <img src="https://placehold.co/400x250" class="card-img-top" alt="Membre 1">
        <div class="card-body text-center">
          <h5 class="card-title">Boubacar Biro Souaré</h5>
          <p class="card-text">Développeur</p>
          <a href="https://github.com/bbkouty" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <img src="https://placehold.co/400x250" class="card-img-top" alt="Membre 2">
        <div class="card-body text-center">
          <h5 class="card-title">Idrissa Soumaré</h5>
          <p class="card-text">Chef de Groupe & Développeur</p>
          <a href="https://github.com/IdrissaHarouna" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <img src="https://placehold.co/400x250" class="card-img-top" alt="Membre 3">
        <div class="card-body text-center">
          <h5 class="card-title">Mira Kotanamou</h5>
          <p class="card-text">Développeuse</p>
          <a href="https://github.com/Mira2-5" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <img src="https://placehold.co/400x250" class="card-img-top" alt="Membre 4">
        <div class="card-body text-center">
          <h5 class="card-title">Marieme Mbaye Ndiaye</h5>
          <p class="card-text">Développeuse</p>
          <a href="https://github.com" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
